* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1.2rem;
}
header {
    background-color: teal;
    color: white;
    height: 150px;
    padding: 2rem 1rem;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
form {
    width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form input, form select {
    padding: 0.5rem 1rem;
}
input[type="text"] {
    width: 100%;
}
form > button {
    cursor: pointer;
    background-color: teal;
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
}
form > button:hover {
    background-color: rgb(6, 95, 95);
}

ul {
    list-style: none;
    width: 500px;
    margin: 2rem auto;
    padding: 0;
}

.todo-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}
.close {
    color: red;
    cursor: pointer;
    font-weight: bolder;
}
.close:hover {
    color:tomato
}